<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    <li class="nav-item active">
      <a class="nav-link" style="color: white" href="#">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a routerLink="/phrases" class="nav-link" style="color: white" routerLinkActive="active">Phrases</a>
    </li>
    <li class="nav-item">
      <a routerLink="/words" class="nav-link" style="color: white" routerLinkActive="active">Words</a>
    </li>
    <li class="nav-item">
      <a routerLink="/tenses" class="nav-link" style="color: white" routerLinkActive="active">Tenses</a>
    </li>
    <li class="nav-item">
      <a routerLink="/others" class="nav-link" style="color: white" routerLinkActive="active">Others</a>
    </li>
  </ul>
</nav>