<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    <li class="nav-item active">
      <a class="nav-link" style="color: white" href="#">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" style="color: white" href="#">Phrases</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" style="color: white" href="#">Words</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" style="color: white" href="#">Times</a>
    </li>
  </ul>
</nav>